/* Responsive styles */
@media (max-width: 768px) {
    main {
        padding: 15px;
        font-size: 14px
    }

    header,
    footer {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
        font-size: 14px;
    }

    header,
    footer {
        padding: 8px 10px;
        font-size: 8px;
        display: flex;
        flex-direction: column;
    }
}

body {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    height: 100%;
    font-family: 'Courier New';
    font-size: 22px;
    color: white;
}

#Container {
    width: 60%;
    background-color: rgb(44, 42, 41);
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#Logo {
    height: auto;
    width: 5%;
}

#Encabezado {
    width: 95%;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}


td {
    border: white 1px solid;
    border-collapse: collapse;
    padding: 3px;
}

table {
    margin: 15px 3px;
    border-collapse: collapse;
    width: 45%;
}

footer {
    margin-TOP: auto;
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
}