* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ecae6;
    justify-content: center;
    display: flex;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-size: 22px;
    color: #8ecae6;
}

#Taller4-Container {
    margin: 1vh;
    width: 60%;
    background-color: #023047;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

#Logo {
    height: auto;
    max-width: 100px;
    width: 10%;
}

#Encabezado {
    flex-grow: 1;
    height: 100%;
    width: 90%;
    text-align: center;
    background-color: #ffb703;
    color: #023047;
    font-weight: bold;
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 80%;
}

td,
th {
    border: white 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: center;
}

tr {
    font-size: 14px;
}

footer {
    margin-TOP: auto;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    main {
        padding: 15px;
        font-size: 14px;
    }

    #Logo {
        display: none !important;
    }

    header,
    footer {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    footer {
        font-size: 10px;
    }

    tr {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
        font-size: 14px;
    }

    header,
    footer {
        padding: 8px 10px;
        font-size: 8px;
        display: flex;
        flex-direction: column;
    }
}